<html>
    <head>
        <title>Salty Sundays Stream Manager</title>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
        <script src="static/jquery.ddslick.min.js"></script>
        <script src="static/reconnecting-websocket.min.js"></script>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
        <script>

        </script>
        <body>
          <table class="table table-bordered"
            <tr>
              <th>Setting</th>
              <th>Input</th>
            </tr>
            <tr>
              <th>Twitch Chat</th>
              <td><input type="text" class="form-control" id="twitchChat" placeholder="http://www.twitch.tv/kappahaute/chat"</td>
            </tr>
            <tr>
              <th>Challonge API Key</th>
              <td><input type="password" class="form-control" id="challongeApiKey" placeholder="XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX"></td>
            </tr>
            <tr>
              <th>Smash.gg API Key (Not Currently Needed)</td>
              <td><input type="password" class="form-control" id="smashggApiKey" placeholder="XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX"></td>
            </tr>
            <tr>
              <th>YouTube's client_secrets.json File</td>
              <td><input type="file" id="ytJsonFile">
          </table>
          <button type="save" class="btn btn-default">Save</button>

        </body>
  </head>
</html>
