<html>
    <head>
        <title>Salty Sundays Stream Manager</title>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
        <script src="static/jquery.ddslick.min.js"></script>
        <script src="static/reconnecting-websocket.min.js"></script>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
        <script>

            // Todo: eventually make this dynamic.
            var ws = new ReconnectingWebSocket('ws://{{ip}}:4444');

            function WriteToFile() {
              set fso = CreateObject("Scripting.FileSystemObject");
              set s = fso.CreateTextFile("/home/rwhited/test.txt", True);
              s.writeline("Test");
              s.Close();
            }

        </script>
        <body>
          <form class="form-horizontal">
            <div class="form-group">
              <label for="youtubeJsonFile" class="col-sm-2 control-label">YouTube's client_secrets.json file</label>
              <div class="col-sm-10">
                <input type="file" id="smashggApiKey">
              </div>
            </div>
            <div class="form-group">
              <label for="challongeApiKey" class="col-sm-2 control-label">Challonge API Key</label>
              <div class="col-sm-10">
                <input type="password" class="form-control" id="challongeApiKey" placeholder="XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX">
              </div>
            </div>
            <div class="form-group">
              <label for="smashggApiKey" class="col-sm-2 control-label">Smash.gg API Key (Not Currently Needed)</label>
              <div class="col-sm-10">
                <input type="password" class="form-control" id="smashggApiKey" placeholder="XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX">
              </div>
            </div>
            <div class="form-group">
              <label for="twitchChat" class="col-sm-2 control-label">Twitch Chat URL</label>
              <div class="col-sm-10">
                <input type="text" class="form-control" id="twitchChat" placeholder="http://www.twitch.tv/kappahaute/chat">
              </div>
            </div>
            <button type="save" class="btn btn-default">Submit</button>
          </form>
        </body>
  </head>
</html>
